<div class="section-wrapper">
    <section class="section about" id="about">
        <div id="about-text">
            <div class="section-heading">About</div>
            <p class="paragraph-text justify-text">
                Abogada colegiada en Málaga (No. 4421) y ubicada en Benalmádena.
            </p>
            <p class="paragraph-text justify-text">
                Profesional con más de 25 años en ejercicio jurídico. Especializada en derecho de familia, herencias, compraventas y deshaucios. Tuvo sus inicios con la empresa danesa Kurt Tofterup S.L..
            </p>
            <p class="paragraph-text justify-text">
                Es profesional ejerciente desde 2020.
                <span class="extra-link"><a href="#extra">Email</a></span> en esta página.
            </p>
        </div>
    </section>
</div>
